HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### 환경 변수 파일 ###
.env
.env.local
.env.development
.env.test
.env.production

### 환경 설정 파일 ###
application-*.yml
!application.yml
*.properties
*.p12
*.pem

### 로그 파일 ###
*.log
logs/

### OAuth ###
**/resources/oauth/**

### 기타 ###
.DS_Store
node_modules/
